# Vs Code
.vscode/

# Sistemas Operacionais
.DS_Store
Thumbs.db
desktop.ini
*~

# Logs
*.log

# Variáveis de ambiente/segredos
.env
.env.*
!.env.example

# Arquivos Temporários
*.tmp
*.temp

tmp/
temp/

# Cache
.cache/